{% extends 'base.html.twig' %}
{% block body %}

    {% for article in articles %}
    <p>
        url = {{ article.url }} 
        <br>{{ article.title }}
    </p>
    
        {% for p in article.packs %}
            {{ p.pack }}
        {% endfor %}

    {% endfor %}


{% endblock %}