{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

    <h1>{{ article.title }}</h1>
    <span>Vytvořeno: {{ article.createdAt|date('j. n. Y, H:i:s') }}</span>
    {{ article.content|raw }}
{% endblock %}
